<section class="container about">
  <!-- section header text -->
  <span class="about__catchphrase">tradition and love</span>
  <h2 class="about__title">how it<span>&#39;</span>s made?</h2>
  <div class="about__content">
    <!-- section main image -->
    <div class="about__image">
      <img alt="pitcher of milk and in a background is a cow" />
    </div>

    <!-- section main text -->
    <div class="about__description">
      <p class="decription__main">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="description__bludred">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
    </div>

    <!-- section "Read more" button -->
    <div>
      <button type="button" class="about__button">
        <a>
          Read more
          <svg class="button__icon" width="4px" height="8px">
            <use></use>
          </svg>
        </a>
      </button>
    </div>
  </div>
</section>
