<section class="about">
  <div class="container about__header">
    <p class="about__catchphrase">TRADITION AND LOVE</p>
    <h1 class="about__title">HOW IT'S MADE?</h1>
  </div>
  <div class="container about__content">
    <img
      class="about__image"
      src="./images/home-cow-mob-280.png"
      srcset="
        ./images/home-cow-mob-280.png    280w,
        ./images/home-cow-mob-560.png    560w,
        ./images/home-cow-tab-340.png    340w,
        ./images/home-cow-tab-680.png    680w,
        ./images/home-cow-desk-516.png   516w,
        ./images/home-cow-desk-1032.png 1032w
      "
      sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, 100vw"
      alt="pitcher of milk and in a background is a cow"
    />
    <div>
      <p class="about__main-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__bright-text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Aliquam erat volutpat. Aenean accumsan.
      </p>
    </div>
    <button type="button" class="button">Read more</button>
  </div>
</section>
