<section class="contacts__bg" id="contacts">
  <h2 class="contacts__name">Contact</h2>
  <div class="container contacts">
    
    <div class="contacts__container">
      <span class="contacts__box">CAFE</span>
      <h3 class="contacts__destination">Chicago</h3>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <h4 class="contacts__titles">Monday - Friday</h4>
      <span class="contacts__time-open">06:00 AM - 10:00 PM</span>
      <h4 class="contacts__titles">Saturday - Sunday</h4>
      <span class="contacts__time-open">08:00 AM - 16:00 PM</span>
      <ul class="contacts__list">
        <li><a class="contacts__contact" href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li>
          <a class="contacts__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="contacts__container">
      <span class="contacts__box--color">FOODTRUCK</span>
      <h3 class="contacts__destination">Los Angeles</h3>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <h4 class="contacts__titles">Monday - Friday</h4>
      <span class="contacts__time-open">06:00 AM - 10:00 PM</span>
      <h4 class="contacts__titles">Saturday - Sunday</h4>
      <span class="contacts__time-open">08:00 AM - 16:00 PM</span>
      <ul class="contacts__list">
        <li><a class="contacts__contact" href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li>
          <a class="contacts__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="contacts__container">
      <span class="contacts__box">CAFE</span>
      <h3 class="contacts__destination">New York</h3>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <h4 class="contacts__titles">Monday - Friday</h4>
      <span class="contacts__time-open">06:00 AM - 10:00 PM</span>
      <h4 class="contacts__titles">Monday - Friday</h4>
      <span class="contacts__time-open">08:00 AM - 16:00 PM</span>
      <ul class="contacts__list">
        <li><a class="contacts__contact" href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li>
          <a class="contacts__contact" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="contacts__btn-container">
    <button class="button contacts__btn">Our Locations</button>
    <button class="button contacts__btn--second">Franchise</button>
  </div>
</section>