<section class="customer container">
    <img class="customer__image" alt="customer photo" src="../images/testimonials-desk-x1.png" srcset="/images/testimonials-desk-x2.png 2x, /images/testimonials-desk-x3.png 3x"/>
  <div class="customer__content">
  <p class="customer__description">
    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
  </p>
   </div>
   <ul class="tags">
    <li class="tags__item"><svg class="tags__icon" width="4px" height="4px"><use href="../images/icons.svg#icon-Ellipse-7"></use></svg></li>
    <li class="tags__item"><svg class="tags__icon" width="4px" height="4px"><use href="../images/icons.svg#icon-Ellipse-7"></use></svg></li>
    <li class="tags__item"><svg class="tags__icon" width="4px" height="4px"><use href="../images/icons.svg#icon-Ellipse-7"></use></svg></li>
   </ul>
   <p class="customer__person">Emily, Los Angeles</p>
   <ul class="pagination">
    <li class="pagination__item"><svg class="pagination__icon" width="12.4px" height="11.84px"><use href="../images/icons.svg#icon-home"></use></svg></li>
    <li class="pagination__item"><svg class="pagination__icon" width="12px" height="12px"><use href="../images/icons.svg#icon-Ellipse-7"></use></svg></li>
    <li class="pagination__item"><svg class="pagination__icon" width="12px" height="12px"><use href="../images/icons.svg#icon-Ellipse-7"></use></svg></li>
   </ul>
  </section>
