<section class="gallery container" id="gallery">
  <div class="gallery__container">
    <!------------- first column ------------->
    <ul class="gallery__column gallery__column--first">
      <!-- first item -->
      <li class="column__item first-column__first-item">
        <img class="column__img" src="./images/gallery/first-image-gallery.png"
          alt="two green homemade ice creams on stick in bowl and one in glass">
      </li>
    </ul>

    <!------------- second column ------------->
    <ul class="gallery__column gallery__column--second">
      <!-- first item -->
      <li class="column__item second-column__first-item">
        <img class="column__img" src="./images/gallery/second-image-gallery1.png"
          alt="two scoops of ice cream in ice cream cone">
      </li>
      <!-- second item -->
      <li class="column__item second-column__second-item">
        <img class="column__img" src="./images/gallery/second-image-gallery2.png"
          alt="freezed water ice creams on stick with strawberries">
      </li>
    </ul>

    <!------------- third column ------------->
    <ul class="gallery__column gallery__column--third">
      <!-- first item -->
      <li class="column__item third-column__first-item">
        <img class="column__img column__img--large" src="./images/gallery/third-image-gallery1.png"
          alt="eight ice creams with fruit sprinkles, each with different flavour">
      </li>
      <!-- second item -->
      <li class="column__item third-column__second-item">
        <img class="column__img" src="./images/gallery/third-image-gallery2.png"
          alt="brunet smiling woman holding creamy ice cream">
      </li>
    </ul>

    <!------------- fourth column ------------->
    <ul class="gallery__column gallery__column--fourth">
      <!-- first item -->
      <li class="column__item fourth-column__first-item">
        <img class="column__img" src="./images/gallery/fourth-image-gallery1.png"
          alt="glass dishes filled with different ice cream flavors with fruits on top">
      </li>
      <!-- second item -->
      <li class="column__item fourth-column__second-item">
        <img class="column__img" src="./images/gallery/fourth-image-gallery2.png"
          alt="raspberry ice cream held in the tight city alley">
      </li>
    </ul>

    <!------------- fifth column ------------->
    <ul class="gallery__column gallery__column--fifth">
      <!-- first item -->
      <li class="column__item fifth-column__first-item">
        <img class="column__img" src="./images/gallery/fifth-image-gallery1.png"
          alt="small dog tasting strawberry-cream ice cream">
      </li>
      <!-- second item -->
      <li class="column__item fifth-column__second-item">
        <img class="column__img" src="./images/gallery/fifth-image-gallery2.png"
          alt="milky ice coffee with chocolate sprinkles ">
      </li>
    </ul>

    <!------------- sixth column ------------->
    <ul class="gallery__column gallery__column--sixth">
      <!-- first item -->
      <li class="column__item sixth-column__first-item">
        <img class="column__img" src="./images/gallery/sixth-image-gallery.png"
          alt="ice cream bouquet in glass with many flavours, crunchy waffles and colorful sprinkles">
      </li>
    </ul>
  </div>
</section>