<section class="gallery container">
  <!-- <img class="gallery__image" src="./images/home-gallery-desk-1280.png" alt="mieszanina obrazków" /> -->
  <ul>
    <li class="first-column"><img src="" alt="" /></li>
    <li class="second-column"><img src="" alt="" /></li>
    <li class="third-column"><img src="" alt="" /></li>
    <li class="fourth-column"><img src="" alt="" /></li>
    <li class="fifth-column"><img src="" alt="" /></li>
    <li class="sixth-column"><img src="" alt="" /></li>
  </ul>
</section>
