<section class="gallery container">
  <!-- <img class="gallery__image" src="./images/home-gallery-desk-1280.png" alt="mieszanina obrazków" /> -->
  <!-- <ul class="first-column">
    <li class="first-column__first-item"><img src="../images/first-image-gallery.png" alt="" /></li>
  </ul>

  <ul class="second-column">
    <li class="second-column__first-item">
      <img src="../images/second-image-gallery.1.png" alt="" />
    </li>
    <li class="second-column__second-item">
      <img src="../images/second-image-gallery.2.png" alt="" />
    </li>
  </ul>

  <ul class="third-column">
    <li class="third-column__first-item">
      <img src="../images/third-image-gallery.1.png" alt="" />
    </li>
    <li class="third-column__second-item">
      <img src="../images/third-image-gallery.2.png" alt="" />
    </li>
  </ul>

  <ul class="fourth-column">
    <li class="fourth-column__first-item">
      <img src="../images/fourth-image-gallery.1.png" alt="" />
    </li>
    <li class="fourth-column__second-item">
      <img src="../images/fourth-image-gallery.2.png" alt="" />
    </li>
  </ul>

  <ul class="fifth-column">
    <li class="fifth-column__first-item">
      <img src="../images/fifth-image-gallery.1.png" alt="" />
    </li>
    <li class="fifth-column__second-item">
      <img src="../images/fifth-image-gallery.2.png" alt="" />
    </li>
  </ul>

  <ul class="sixth-column">
    <li class="sixth-column__first-item"><img src="../images/sixth-image-gallery.png" alt="" /></li>
  </ul> -->
</section>
