<header class="page-header">
  <div class="container page-header__container">
    <div>
      <div class="logo">
        <a class="link" href="./index.html"></a>
      </div>

      <button>
        <svg class="mobile-menu-burger" width="20" height="12">
          <use href=""></use>
        </svg>
      </button>

      <h1 class="page-header__title">
        ice cream <br />
        made with
        <span>passion</span>
      </h1>

      <button><a class="link" href="./product.html">Products</a></button>
      <button><a class="link" href="./about.html">How it's made?</a></button>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
    </div>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link" href="">Home</a></li>
        <li class="navigation__item"><a class="navigation__link" href="">About us</a></li>
        <li class="navigation__item">
          <a class="navigation__link" href="">How itU+2019s made?</a>
        </li>
        <li class="navigation__item"><a class="navigation__link" href="">Our products</a></li>
        <li class="navigation__item"><a class="navigation__link" href="">Contact</a></li>
      </ul>
    </nav>

    <div>
      <button>Buy now</button>

      <ul>
        <li>
          <h3>16</h3>
          <p>cafes</p>
        </li>
        <li>
          <h3>23</h3>
          <p>food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</header>
