<header class="page-header">
  <div class="container page-header__container">
    <div class="page-header__circle-wrapper">
      <div class="page-header__circle"></div>
    </div>

    <div class="page-header__bar">
      <div class="logo">
        <a class="link" href="./index.html">
          <img src="./images/logo-x1.png" alt="brand logo" width="199" height="50" />
        </a>
      </div>

      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="./index.html">Home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#gallery">About us</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#about">How it<span>&#39;</span>s made?</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#products">Our products</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="page-header__switch">
        <button
          class="mobile-menu-burger js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg width="20" height="12">
            <use href="./images/icons.svg#icon-mobile-menu"></use>
          </svg>
        </button>

        <a class="buy-now-btn" href=""
          ><span class="buy-now-btn__span">Buy now</span>
          <svg class="buy-now-btn__icon" width="8" height="10">
            <use href="./images/icons.svg#icon-closing-bracket"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="page-header__holder">
      <div>
        <h1 class="page-header__title">
          ice cream <br />
          made with <br />
          <span class="page-header__title-span">passion</span>
        </h1>

        <div class="page-header__button-wrap">
          <a class="link page-header-btn1" href="#products">Products</a>
          <a class="link page-header-btn2" href="#about">How it<span>&#39;</span>s made?</a>
        </div>
      </div>

      <ul class="header-statistics">
        <li class="header-statistics__element">
          <h3 class="header-statistics__number">16</h3>
          <p class="header-statistics__label">cafes</p>
        </li>
        <li class="header-statistics__element">
          <h3 class="header-statistics__number">23</h3>
          <p class="header-statistics__label">food trucks</p>
        </li>
      </ul>
    </div>

    <div class="page-header__paragraph">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>

      <!-- link do sekcji How it's made? -->
      <a class="page-header__arrow-link link" href="#about">
        <svg class="page-header__arrow-icon" width="9" height="9">
          <use href="./images/icons.svg#icon-arrow-right2"></use>
        </svg>
      </a>
    </div>

    <img
      class="page-header__ice-cream"
      src="./images/slider-pic7-mob-171.png"
      alt="Image of an ice
    cream"
      srcset="
        ./images/slider-pic7-mob-171.png  171w,
        ./images/slider-pic7-mob-342.png  342w,
        ./images/slider-pic7-tab-143.png  143w,
        ./images/slider-pic7-tab-286.png  286w,
        ./images/slider-pic7-desk-236.png 236w,
        ./images/slider-pic7-desk-472.png 472w
      "
      sizes="(min-width: 1280px) 236px, (min-width: 768px) 143px, 100vw"
    />

    <img
      class="page-header__tasty"
      src="./images/slider-pic4-tab-168.png"
      alt="Image of a woman eating ice-cream"
      srcset="
        ./images/slider-pic4-tab-168.png  168w,
        ./images/slider-pic4-tab-336.png  336w,
        ./images/slider-pic4-desk-293.png 293w,
        ./images/slider-pic4-desk-586.png 586w
      "
      sizes="(min-width: 1200px) 293px, (min-width: 768px) 168px, 100vw"
    />

    <img
      class="page-header__milk"
      src="./images/slider-pic5-tab-124.png"
      alt="Image of a jug of milk"
      srcset="
        ./images/slider-pic5-tab-124.png  124w,
        ./images/slider-pic5-tab-248.png  248w,
        ./images/slider-pic5-desk-188.png 188w,
        ./images/slider-pic5-desk-376.png 376w
      "
      sizes="(min-width: 1200px) 293px, (min-width: 768px) 168px, 100vw"
    />
  </div>
</header>
