<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="mobile-menu-closing-icon js-close-menu">
    <svg width="14" height="14">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="mobile-wrapper">
    <button class="mobile-buy-btn js-close-menu" data-modal-open>
      <span class="mobile-buy-btn__span">Buy now</span>
      <svg class="mobile-buy-btn__icon" width="8" height="10">
        <use href="./images/icons.svg#icon-closing-bracket"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link mobile-menu__link--active js-close-menu" href="#hero">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-menu" href="#gallery">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-menu" href="#about">How it<span>&#39;</span>s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-menu" href="#products">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-menu" href="#contacts">Contact</a>
      </li>
    </ul>
  </div>
</div>
