<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close" data-modal-close>
      <svg class="modal__close-icon" width="18" height="18">
        <use href="./images/icons.svg#icon-home"></use>
      </svg>
    </button>
    <p class="modal__text">Buy it now</p>
    <form name="signupform">
      <label for="chose" class="modal__label"
        >Chose the best one
        <select class="modal__input modal--focus" id="chose">
          <option value="ice cream" selected>Ice cream</option>
          <option value="ice coffee">Ice coffee</option>
          <option value="milkshakes">Milkshakes</option>
        </select>
      </label>
      <label for="Where" class="modal__label"
        >Where will you get it ?
        <select class="modal__input modal--focus" id="Where">
          <option value="Chickago" selected>Chicago</option>
          <option value="Los Angeles">Los Angeles</option>
          <option value="New York">New York</option>
        </select>
      </label>
      <label for="date" class="modal__label"
        >Enter date
        <input id="date" class="modal__input modal--focus" type="date" name="orderdate" /></label>
      <label for="time" class="modal__label"
        >Enter the pick-up time
        <input id="time" class="modal__input modal--focus" type="time" name="ordertime" />
      </label>
      <div class="modal__button">
        <button class="modal__submit modal__submit--color" type="submit">Order</button>
      </div>
    </form>
  </div>
</div>
