<section class="products" id="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <div>
            <ul class="products__list">
                <li class="products__item products__item--icecream">
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et <span class="products__text-cut">. dolore magna
                        aliqua facilisis.</span></p>
                    <a href="#" class="products__arrow-btn">
                        <img src="/src/images/arrow-right-4-x1-min.png" alt="arrow right" width="40" height="40" ></a>
                </li>
                <li class="products__item products__item--coffee">
                    <h3 class="products__name">ice coffee</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et <span class="products__text-cut">. dolore magna
                        aliqua facilisis.</span></p>
                    <a href="#" class="products__arrow-btn">
                    <img src="/src/images/arrow-right-4-x1-min.png" alt="arrow right" width="40" height="40" ></a>
                </li>
                <li class="products__item products__item--milkshakes">
                    <h3 class="products__name">milkshakes</h3>
                    <p class="products__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et<span class="products__text-cut">. dolore magna
                        aliqua facilisis.</span></p>
                    <a href="#" class="products__arrow-btn">
                        <img  src="/src/images/arrow-right-4-x1-min.png" alt="arrow right" width="40" height="40" ></a>
                </li>
            </ul>
        </div>
    </div>
</section>