.gallery {
  border: 1px solid red;
  margin-bottom: 123px;

  &__image {
    display: block;
  }
}
.gallery.container {
  padding-inline: 0;
}
.gallery__list {
}
.gallery__column {
  display: flex;
  flex-direction: row;
}
.column__item {
  display: inline;
}
