.gallery {
  margin-bottom: 80px;
  background: linear-gradient(#fff5f6 40%, white 40%);

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 121px;
  }
  @media (min-width: 1280px) {
    margin-bottom: 123px;
  }
  &__image {
    display: block;
  }
}
.gallery__container {
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 768px) and (max-width: 1279px) {
    height: 264px;
  }
  @media (min-width: 1280px) {
    height: 430px;
  }
}
.gallery__column {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;

  &:not(:last-child) {
    margin-right: 2px;

    @media (min-width: 768px) and (max-width: 1279px) {
      margin-right: 5px;
    }
    @media (min-width: 1280px) {
      margin-right: 10px;
    }
  }
}
.column__item:not(:last-child) {
  margin-bottom: 2px;

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 5px;
  }
  @media (min-width: 1280px) {
    margin-bottom: 10px;
  }
}
.column__img {
  user-select: none;
  -webkit-user-drag: none;
  position: relative;
  display: block;
  border-radius: 5px;
  width: 35px;
  height: auto;
  cursor: pointer;
  transition: var(--cubic-transition-scale--small-delay), var(--cubic-transition-translate);

  @media (min-width: 768px) and (max-width: 1279px) {
    border-radius: 13px;
    width: 85px;
  }
  @media (min-width: 1280px) {
    border-radius: 22px;
    width: 140px;
  }
}
.column__button1 {
  position: absolute;
  appearance: none;
  outline: 0;
  cursor: pointer;
  opacity: 0%;
  border-radius: 22px;
  width: 35px;
  height: 35px;
  z-index: 101;
  transition: var(--cubic-transition-scale--small-delay), var(--cubic-transition-translate);

  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
  }
  &:focus {
    pointer-events: none;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    width: 85px;
    height: 85px;
  }
  @media (min-width: 1280px) {
    width: 140px;
    height: 140px;
  }
}
.gallery__column--first .first-column__first-item .column__button1 {
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: -20% -4%;
  }
  &:focus + picture .column__img {
    scale: 2;
    translate: 315% -11%;
  }
  &:focus {
    pointer-events: none;
  }
}
.gallery__column--second .second-column__first-item .column__button1 {
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: 15% -20%;
  }
  &:focus + picture .column__img {
    scale: 2;
    translate: 209% 28%;
  }
  &:focus {
    pointer-events: none;
  }
}
.gallery__column--second .second-column__second-item .column__button1 {
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: 15% 20%;
  }
  &:focus + picture .column__img {
    scale: 2;
    translate: 209% -79%;
  }
  &:focus {
    pointer-events: none;
  }
}
.gallery__column--third .third-column__first-item .column__button1 {
  height: 60px;
  width: 60px;
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: 12% -12%;
  }
  &:focus + picture .column__img {
    scale: 1.5;
    translate: 25% 37%;
  }
  &:focus {
    pointer-events: none;
    width: 90px;
    height: 90px;
  }
  &:focus .column__button1--translate,
  &:focus .column__img--translate {
    translate: 25% 37%;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    height: calc(85px * 2);
    width: calc(85px * 2);
  }
  @media (min-width: 1280px) {
    height: calc(140px * 2);
    width: calc(140px * 2);
  }
}
// cursor pointer fix
.gallery__column--third .third-column__first-item:focus-within ~ .third-column__second-item {
  width: 0;
}
//
.gallery__column--third .third-column__second-item .column__button1 {
  width: 35px;
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.15;
  }
  &:focus + picture .column__img {
    scale: 1.8;
    translate: 36% -117%;

    @media (min-width: 768px) and (max-width: 1279px) {
      scale: 2;
      translate: 50% -117%;
    }
    @media (min-width: 1280px) {
      scale: 2;
      translate: 50% -117%;
    }
  }
  &:focus &:focus {
    pointer-events: none;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    width: 85px;
  }
  @media (min-width: 1280px) {
    width: 140px;
  }
}
// third column second item translate on focus
.third-column__first-item:focus-within ~ .column__item .column__button1--translate {
  translate: -210% 15%;

  @media (min-width: 768px) and (max-width: 1279px) {
    translate: -212% 2%;
  }
  @media (min-width: 1280px) {
    translate: -215% 2%;
  }
}
//
.third-column__first-item:focus-within ~ .column__item .column__img--translate {
  translate: -210% 15%;

  @media (min-width: 768px) and (max-width: 1279px) {
    translate: -212% 2%;
  }
  @media (min-width: 1280px) {
    translate: -215% 2%;
  }
}
.third-column__first-item {
  width: calc(30px * 2);
  transition: var(--cubic-transition-width);

  @media (min-width: 768px) and (max-width: 1279px) {
    width: calc(85px * 2);
  }
  @media (min-width: 1280px) {
    width: calc(140px * 2);
  }
}
.third-column__first-item {
  transition: margin-right 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__column--third > .third-column__first-item:hover {
  margin-right: 13px;

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-right: 40px;
  }
  @media (min-width: 1280px) {
    margin-right: 65px;
  }
}
.gallery__column--third > .third-column__first-item:focus-within {
  margin-right: 30px;
  pointer-events: none;

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-right: 85px;
  }
  @media (min-width: 1280px) {
    margin-right: 140px;
  }
}
.gallery__column--third > .third-column__first-item:focus-within::after {
  content: '';
  position: absolute;
  display: block;
  top: 9px;
  pointer-events: auto;
  width: 100%;
  border-radius: 30px;
  height: calc(100% - 10px);
  cursor: pointer;
  opacity: 50%;
  z-index: 999;

  @media (min-width: 768px) and (max-width: 1279px) {
    top: 20px;
    height: calc(100% - 5px);
  }
  @media (min-width: 1280px) {
    top: 33px;
  }
}
.gallery__column--fourth .fourth-column__first-item .column__button1 {
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: -15% -20%;
  }
  &:focus + picture .column__img {
    scale: 1.8;
    translate: -137.1% 28%;

    @media (min-width: 768px) and (max-width: 1279px) {
      scale: 2;
      translate: -156% 28%;
    }
    @media (min-width: 1280px) {
      scale: 2;
      translate: -156% 28%;
    }
  }
  &:focus {
    pointer-events: none;
  }
}
.gallery__column--fourth .fourth-column__second-item .column__button1 {
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: -15% 20%;
  }
  &:focus + picture .column__img {
    scale: 2;
    translate: -80% -79%;

    @media (min-width: 768px) and (max-width: 1279px) {
      scale: 2;
      translate: -107% -79%;
    }
    @media (min-width: 1280px) {
      scale: 2;
      translate: -107% -79%;
    }
  }
  &:focus {
    pointer-events: none;
  }
}
.gallery__column--fifth .fifth-column__first-item .column__button1 {
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: -15% -20%;
  }
  &:focus + picture .column__img {
    scale: 2;
    translate: -180% 51%;

    @media (min-width: 768px) and (max-width: 1279px) {
      scale: 2;
      translate: -210% 51%;
    }
    @media (min-width: 1280px) {
      scale: 2;
      translate: -213% 51%;
    }
  }
  &:focus {
    pointer-events: none;
  }
}
.gallery__column--fifth .fifth-column__second-item .column__button1 {
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: -15% 20%;
  }
  &:focus + picture .column__img {
    scale: 2;
    translate: -180% -56%;

    @media (min-width: 768px) and (max-width: 1279px) {
      scale: 2;
      translate: -210% -56%;
    }
    @media (min-width: 1280px) {
      scale: 2;
      translate: -213% -56%;
    }
  }
  &:focus {
    pointer-events: none;
  }
}
.gallery__column--sixth .column__button1 {
  &:hover,
  &:hover + picture .column__img {
    animation: var(--cubic-transition-rotateX-in);
    scale: 1.2;
    translate: 15% -12%;
  }

  &:focus + picture .column__img {
    scale: 2;
    translate: -285% -20%;

    @media (min-width: 768px) and (max-width: 1279px) {
      scale: 2;
      translate: -315% -20%;
    }
    @media (min-width: 1280px) {
      scale: 2;
      translate: -320% -20%;
    }
  }
  &:focus {
    pointer-events: none;
  }
}
// rotations
@keyframes rotateX-in {
  from {
    transform: perspective(400px) rotateX(0deg);
  }
  50% {
    transform: perspective(400px) rotateX(30deg);
  }
  to {
    transform: perspective(400px) rotateX(0deg);
  }
}
// @keyframes rotateX-out {
//   from {
//     transform: perspective(400px) rotateX(0deg);
//   }
//   50% {
//     transform: perspective(400px) rotateX(-40deg);
//   }
//   to {
//     transform: perspective(400px) rotateX(0deg);
//   }
// }
// @keyframes rotateX-reset {
//   to {
//     transform: perspective(400px) rotateX(0deg);
//   }
// }
.column__img--large {
  border-radius: 5px;
  width: calc(30px * 2);
  height: auto;

  @media (min-width: 768px) and (max-width: 1279px) {
    border-radius: 7px;
    width: calc(85px * 2);
  }
  @media (min-width: 1280px) {
    border-radius: 20px;
    width: 280px;
  }
}
.gallery__column--first {
  z-index: 20;
  transform: translateY(-2%);
}
.gallery__column--second {
  z-index: 19;
  transform: translateY(6%);
}
.gallery__column--third .third-column__first-item {
  z-index: 19;
}
.gallery__column--third .third-column__second-item {
  pointer-events: auto;
  z-index: 99;
}
.gallery__column--fourth .fourth-column__first-item {
  z-index: 17;
  transform: translateY(12%);
}
.gallery__column--fourth .fourth-column__second-item {
  z-index: 18;
  transform: translateY(12%);
}
.gallery__column--fifth {
  transform: translateY(-5%);
}
.gallery__column--sixth {
  z-index: 20;
  transform: translateY(7%);
}
