.header-statistics {
  display: none;

  @include tablet {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    &__element {
      &:first-child {
        margin-bottom: 13px;
      }
    }

    &__number {
      font-family: var(--secondary-font-family);
      font-size: 28px;
      line-height: 32px;
      /* identical to box height */

      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--color-secondary-dark-pink);
    }

    &__label {
      font-size: 8px;
      line-height: 10px;
      text-align: right;
      color: var(--color-primary-light);
    }
  }
}
