.header-statistics {
  display: none;

  @include tablet {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__element {
    &:first-child {
      margin-bottom: 13px;
    }
  }

  &__number {
    position: relative;
    z-index: 99999;
    font-family: var(--secondary-font-family);
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-secondary-dark-pink);

    &::after {
      display: inline-block;
      position: absolute;
      right: -7px;
      top: -3px;
      z-index: -1;
      content: '';
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: var(--color-primary-light);
      // transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    @include desktop {
      font-weight: 400;
      font-size: 46px;
      line-height: 53px;

      &::after {
        width: 30px;
        height: 30px;
        right: -18px;
        top: -3px;
      }
    }
  }

  &__label {
    font-family: var(--main-font-family);
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: var(--color-primary-light);

    @include desktop {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
