.navigation {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    &__link {
      font-family: var(--main-font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.03em;
      color: var(--color-primary-light);

      &:hover,
      &:focus {
        color: var(--color-secondary-dark-pink);
        transition: color 300ms linear;
      }
    }
  }
}
