.page-header {
  background-color: var(--bg-color-dark-pink);

  &__container {
    height: 502px;
    position: relative;
    overflow: hidden;
    padding-top: 6px;
    // background-image: url();
    background-size: 346px 346px;

    @include tablet {
      padding-top: 37px;
      height: 399px;
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 137px;

    @include tablet {
      height: 50px;
      margin-bottom: 15px;
    }
  }

  &__switch {
    display: flex;
  }

  &__holder {
    display: flex;
    justify-content: space-between;

    @include tablet {
      margin-bottom: 66px;
    }
  }

  &__title {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-primary-light);
  }

  &__title-span {
    color: var(--color-secondary-dark-pink);
    font-size: 48px;
    // 45.84px
    line-height: 0.96;
    letter-spacing: 0.04em;
  }

  &__button-wrap {
    display: flex;
  }

  &__paragraph {
    display: none;

    @include tablet {
      display: block;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.5;
      color: var(--color-primary-light);
      width: 114px;
      height: 48px;
    }
  }
}
