.page-header {
  background-color: var(--bg-color-dark-pink);

  &__circle-wrapper {
    width: 100%;
    overflow: hidden;
    position: absolute;
  }

  &__circle {
    display: inline-block;
    // position: absolute;
    width: 346px;
    height: 344px;
    margin-left: 36px;
    margin-top: 83px;
    z-index: 0;
    // content: '';
    border-radius: 50%;
    background-color: var(--color-secondary-light-pink);

    @include tablet {
      width: 324px;
      height: 322px;
      margin-top: 11px;
      margin-left: 256px;
    }

    @include desktop {
      width: 538px;
      height: 538px;
      margin-top: 19px;
      margin-left: 333px;
    }

    @include desktop {
    }
  }

  &__container {
    height: 502px;
    position: relative;
    overflow: hidden;
    padding-top: 6px;
    min-height: 400px;
    background-size: 346px 346px;

    @include tablet {
      padding-top: 37px;
      max-height: 399px;
    }

    // this part does not work, computed height is 555px ?
    @include desktop {
      height: 665px;
      max-height: 100%;
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 137px;
    position: relative;
    z-index: 999;

    @include tablet {
      height: 50px;
      margin-bottom: 15px;
    }
  }

  &__switch {
    display: flex;
  }

  &__holder {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 999;

    @include tablet {
      margin-bottom: 66px;
    }

    @include desktop {
      margin-top: 74px;
      margin-bottom: 112px;
    }
  }

  &__title {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-primary-light);

    @include tablet {
      font-size: 22px;
      line-height: 25px;
    }

    @include desktop {
      font-size: 38px;
      line-height: 44px;
    }
  }

  &__title-span {
    color: var(--color-secondary-dark-pink);
    font-size: 48px;
    line-height: 0.96;
    letter-spacing: 0.04em;

    @include tablet {
      font-size: 34px;
      line-height: 31px;
    }

    @include desktop {
      font-size: 58px;
      line-height: 53px;
    }
  }

  &__button-wrap {
    display: flex;
    margin-top: 20px;
  }

  &-btn1 {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      border-radius: 22px;
      display: flex;
      justify-content: center;
      color: var(--color-primary-light);
      background-color: var(--color-secondary-dark-pink);
      font-size: 8px;
      line-height: 10px;
      margin-right: 8px;
      padding: 8px 14px;
    }

    @include desktop {
      font-size: 14px;
      line-height: 18px;
      margin-right: 15px;
      padding: 12px 19px;
    }

    &:hover,
    &:focus {
      background-color: #c7133e;
      fill: var(--color-primary-light);
    }
  }

  &-btn2 {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      border-radius: 22px;
      display: flex;
      justify-content: center;
      color: var(--color-secondary-dark-pink);
      background-color: var(--color-primary-light);
      font-size: 8px;
      line-height: 10px;
      padding: 8px 14px;
    }

    @include desktop {
      font-size: 14px;
      line-height: 18px;
      padding: 12px 19px;
    }

    &:hover,
    &:focus {
      background-color: #ecebeb;
      fill: var(--color-secondary-dark-pink);
    }
  }

  &__paragraph {
    display: none;

    @include tablet {
      display: block;
      font-family: var(--main-font-family);
      font-weight: 400;
      font-size: 8px;
      line-height: 1.5;
      letter-spacing: 0.03em;
      color: var(--color-primary-light);
      width: 114px;
      height: 48px;
      margin-left: 120px;
      z-index: 1;
      // padding-bottom: 59px;
    }

    @include desktop {
      width: 200px;
      height: 78px;
      font-size: 14px;
      line-height: 1.4;
      margin-top: 112px;
    }
  }

  &__arrow-link {
    outline: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--color-primary-light);
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-secondary-dark-pink);
    z-index: 9999;

    @include desktop {
      width: 26px;
      height: 26px;
    }

    &:hover,
    &:focus {
      background-color: var(--color-secondary-dark-pink);
      fill: var(--color-primary-light);
      transform: rotate(90deg);
    }
  }

  // images _______________________________________

  &__ice-cream {
    position: absolute;
    bottom: 0;
    right: 32px;
    max-width: 171px;
    z-index: 1;

    @include tablet {
      right: 247px;
    }

    @include desktop {
      max-width: 236px;
      height: 557px;
      right: 450px;
    }
  }

  &__tasty {
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      bottom: 0;
      right: 34px;
      width: 168px;
      height: 133px;
      z-index: 1;
    }

    @include desktop {
      width: 293px;
      height: 232px;
    }
  }

  &__milk {
    display: none;

    @include tablet {
      width: 124px;
      height: 126px;
      display: block;
      position: absolute;
      bottom: 28px;
      left: 34px;
      max-width: 171px;
    }

    @include desktop {
      width: 188px;
      height: 191px;
      left: 77px;
      bottom: 45px;
      margin-top: 56px;
    }
  }
}

.buy-now-btn {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary-light);
    margin-left: 30px;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }

    &__span {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: var(--color-secondary-dark-pink);
      margin-right: 12px;
    }

    &__icon {
      fill: var(--color-secondary-dark-pink);
    }
  }
}
