:root {
  --color-primary-dark: #000000;
  --color-primary-grey: #907e82;
  --color-primary-light: #ffffff;
  --color-secondary-light-pink: #ffa5ba;
  --color-secondary-dark-pink: #d41443;
  --bg-color-white: #ffffff;
  --bg-color-light-pink: #fff5f6;
  --bg-color-dark-pink: #ffb8ca;
}
